{
  "extends": ["plugin:@ranwawa/eslint-plugin/react"],
  "plugins": ["eslint-plugin-markdown"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.md"],
      "processor": "markdown/markdown"
    }
  ]
}
