docs/rules/script/javascript/rest-spread-spacing.md
docs/rules/script/javascript/template-curly-spacing.md
docs/rules/script/javascript/yield-star-spacing.md
first-attribute-linebreak.md
html-closing-bracket-newline.md
html-closing-bracket-spacing.md
docs/rules/script/vue/html-indent.md
docs/rules/script/vue/multiline-html-element-content-newline.md
docs/rules/script/vue/mustache-interpolation-spacing.md
docs/rules/script/vue/no-multi-spaces.md
docs/rules/script/vue/no-spaces-around-equal-signs-in-attribute.md
docs/rules/script/vue/singleline-html-element-content-newline.md
docs/rules/script/react/jsx-closing-bracket-location.md
docs/rules/script/react/jsx-closing-tag-location.md
docs/rules/script/react/jsx-curly-spacing.md
docs/rules/script/react/jsx-indent-props.md
docs/rules/script/react/jsx-max-props-per-line.md
docs/rules/script/react/jsx-wrap-multilines.md
docs/rules/script/react/jsx-first-prop-new-line.md
docs/rules/script/react/jsx-equals-spacing.md
docs/rules/script/react/jsx-indent.md
docs/rules/script/react/jsx-tag-spacing.md