docs/rules/script/javascript/rest-spread-spacing.md
docs/rules/script/javascript/template-curly-spacing.md
docs/rules/script/javascript/yield-star-spacing.md
first-attribute-linebreak.md
html-closing-bracket-newline.md
html-closing-bracket-spacing.md